@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

html {
  box-sizing: border-box;
  font-size: 14px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: 'Nunito Sans', sans-serif;
  font-family: Avenir, sans-serif !important;
  letter-spacing: -0.35px;
  overflow-y: overlay;
  font-size: 1rem;
  line-height: 1.4285em;
  color: rgba(0, 0, 0, 0.87);
}

:root {
  --au-accent-color: #ff4a5a;
  /* --au-input-bg: #d1d1d1;
  --au-input-color: red;
  --au-input-bg--focus: #f00;
  --au-input-color--focus: white;
  --au-input-placeholder: yellow;
  --au-input-placeholder--focus: blue; */

  /* --au-inverted-bg: var(--au-accent-color);
  --au-inverted-color: white; */
}
